// IPTT Table
// Selectors for the table itself, not the sidebar or filters

#iptt_table {
    background-color: white;
    thead {
        th, td {
            background-color:$gray-150 !important;
        }
    }
    tbody {
        border-bottom: 1px solid $table-border-color;
    }
}
body.page_iptt_table { // body element for extra specificity
    margin-bottom: 0;
    & .popover {
        max-width: 250px;
    }
}
.page_iptt_table {
    #id_div_content {
        display: flex;
        flex-grow: 1;
        height: 100%;
    }
    .popover {
        max-width: 100%; /* Max Width of the popover (depending on the container) */
    }
    #footer {
        position: relative;
    }
    #id_div_breadcrumb,
    .page-title {
        display: none;
    }
    small {
        font-size: 13.6px;
    }
}
.iptt_table_wrapper {
    // See breakpoint mixin below
    width: 100%;
    overflow-x: auto;
    padding-left: 10px;
}

#id_div_top_iptt_report {
    color: $gray-700; // why is this not #54585A ?
}
.empty-value {
    // for cells with no value
    color: $gray-300;
}
tr.title-row {
    background-color: $gray-150;
    & .popover-icon {
        // popover fontawesome <i> doesn't center well with text-uppercase, this fixes position:
        position: relative;
        top: -2px;
        right: -5px;
    }
}
.iptt-period-header {
    text-align: center;
    vertical-align: bottom !important;
    white-space: nowrap;
}
.iptt-period-subheader {
    text-align: right;
    vertical-align: bottom;
}
// logical columns, applied to colgroup > col
.iptt-base-columns {
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
}
.iptt-lop-columns {
    background-color: transparentize($gray-400, 0.8);
    border-right: 1px solid $table-border-color;
    text-align: right;
}
.iptt-period-columns {
    border-right: 1px solid $table-border-color;
}
.lop-column {
    // columns that summarize LOP data
    @extend %right-aligned-cell;
    & .popover-icon {
        //places the helptext icon centered with the text and with a small standoff from the text
        position: relative;
        right: -3px;
        top: -2px;
    }
}
tr.program-name { }
tr.action-buttons { }

.table__iptt .row__level {
    font-weight: bold;
    color: $gray-800;
    background-color: $gray-200;
}


// restyle the Results table on the IPTT
.page_iptt_table .modal-dialog {
    .results__link {
        display: none;
    }
    .results-table__actions {
        background: transparent;
    }
}

td.iptt-level-row, td.ip-level-row {
    background-color: $gray-300;
    font-weight: bold;
}

td.expando-cell {
    color: $blue;
    cursor: pointer;
    border-right: none;
}

tr.expando-table-row {
    &>td {
        border: 0px;
        padding: 0px;
    }
}

tr.expando-table-row-spacer {
    background-color: $body-bg;
    height: 5px;
    td {
        border: 0px;
        padding: 0px;
    }
}
tr.disaggregation-end-row {
    border-bottom: 3px solid $table-border-color;
}
td.disaggregation-name-cell {
    background: $white !important;
    width: 142px; // TODO: hardcoded!
    font-weight: bold;
    border-right: 1px solid $table-border-color;
    border-bottom: 3px solid $table-border-color;
}

td.disaggregation-label-cell {
    width: 1176px; // TODO: hardcoded!
    text-align: right;
    border-right: 0px;
}

td.disaggregation-value-cell {
    width: 110px; // TODO: hardcoded!
    text-align: right;
    border-right: 0px;
    border-left: 0px;
}
%right-aligned-cell {
    text-align: right;
}
// note specificity on following selectors, clobbers td/th specificity from BS
td.indicator-edit-modal-cell {
}
td.indicator-result-modal-cell {
}
td.indicator-cell {
}
.result-cell {
    @extend %right-aligned-cell;
}
.number-cell {
    @extend %right-aligned-cell;
}
.percent-cell {
    @extend %right-aligned-cell;
}
.is-percent-column {
    @extend %right-aligned-cell;
}
.baseline-column {
    @extend %right-aligned-cell;
}

