// IPTT Table
// Selectors for the table itself, not the sidebar or filters

#iptt_table {
    background-color: white;
    td, th {
        // border: 1px solid red; // for column debugging
    }
    &, & thead tr td {
        border: 0px !important;
    }
    tr th {
        background-color:$gray-150 !important;
    }
    // tbody{
    //background-color:#ffffff !important;
    //}
}
#id_td_iptt_program_name {
    padding-left: 0; // overloads .table-sm td
    padding-right: 0; // overloads .table-sm td
}
body.page_iptt_table { // body element for extra specificity
    margin-bottom: 0;
}
.page_iptt_table {
    #id_div_content {
        display: flex;
        flex-grow: 1;
        height: 100%;
    }
    .popover {
        max-width: 100%; /* Max Width of the popover (depending on the container) */
    }
    #footer {
        position: relative;
    }
    #id_div_breadcrumb,
    .page-title {
        display: none;
    }
}
.iptt_table_wrapper {
    // See breakpoint mixin below
    width: 100%;
    overflow-x: auto;
    padding-left: 10px;
}

#id_div_top_iptt_report {
    color: $gray-700; // why is this not #54585A ?
}

tr.title-row {
    background-color: $gray-150;
}
tr.program-name { }
tr.action-buttons { }

.table__iptt .row__level {
    font-weight: bold;
    color: $gray-800;
    background-color: $gray-200;
}


// restyle the Results table on the IPTT
.page_iptt_table .modal-dialog {
    .results__link {
        display: none;
    }
    .results-table__actions {
        background: transparent;
    }
}

td.iptt-level-row, td.ip-level-row {
    background-color: $gray-300;
    font-weight: bold;
}

td.expando-cell {
    color: $blue;
    cursor: pointer;
    border-right: none;
}

tr.expando-table-row {
    &>td {
        border: 0px;
        padding: 0px;
    }
}

tr.expando-table-row-spacer {
    background-color: $body-bg;
    height: 5px;
    td {
        border: 0px;
        padding: 0px;
    }
}

td.disaggregation-name-cell {
    width: 142px; // TODO: hardcoded!
    font-weight: bold;
}

td.disaggregation-label-cell {
    width: 1176px; // TODO: hardcoded!
    text-align: right;
    border-right: 0px;
}

td.disaggregation-value-cell {
    background: $gray-150;
    width: 110px; // TODO: hardcoded!
    text-align: right;
    border-right: 0px;
    border-left: 0px;
}
%borderless-cell {
    border-left: none;
    border-right: none;
}
%right-aligned-cell {
    text-align: right;
}
// note specificity on following selectors, clobbers td/th specificity from BS
td.indicator-edit-modal-cell {
    @extend %borderless-cell;
}
td.indicator-result-modal-cell {
    @extend %borderless-cell;
}
td.indicator-cell {
    @extend %borderless-cell;
}
.result-cell {
    @extend %right-aligned-cell;
}
.number-cell {
    @extend %right-aligned-cell;
}
.percent-cell {
    @extend %right-aligned-cell;
}
.old-level-display {
}
.unit-of-measure-column {
}
.has-change-column {
}
.has-cnc-column {
}
.is-percent-column {
    @extend %right-aligned-cell;
}
.baseline-column {
    @extend %right-aligned-cell;
}
