// Profile page

#profile--format-description__table {
    width: 65%;
    thead {
        background-color: $gray-300;
    }
    tbody:before {
        content:"@";
        display:block;
        line-height:10px;
        text-indent:-99999px;
    }
    td {
        padding-right: 20px;
    }
}
