{% spaceless %}{% for subwidget in widget.subwidgets %}
    <fieldset>
        <a href="#" id="{{ widget.name }}_toggle_{{ forloop.counter0 }}" class="is-accordion-toggle btn btn-link"
            data-toggle="collapse" data-target="#{{ widget.name }}_inputs_{{ forloop.counter0 }}"
            aria-expanded="true" aria-controls="{{ widget.name }}_inputs_{{ forloop.counter0 }}">
            <i class="fas fa-caret-down"></i>{{ subwidget.title }}
        </a>
        {% if subwidget.group_helptext %}
        <a href="#"
           tabindex="0"
           data-toggle="popover"
           data-placement="right"
           data-trigger="focus"
           data-content="{{ subwidget.group_helptext }}">
            <i class="far fa-question-circle"></i>
        </a>
        {% endif %}
        <div class="collapse show" id="{{ widget.name }}_inputs_{{ forloop.counter0 }}">
            {% include subwidget.template_name with widget=subwidget %}
        </div>
    </fieldset>
{% endfor %}{% endspaceless %}
