# Default options for coverage commands

[run]
branch = True
omit =
    ../venv2/*
    **/tests/*
    **/test_*py
    formlibrary/*
    scripts/*
    **/management/*

[report]
omit =
    **/tests/*
    **/test_*py
    formlibrary/*
    scripts/*
    **/management/*
    **/migrations/*
skip_covered = True
sort = Cover

[html]
# Values in the [report] section also apply to [html]
