# dev requirements for TolaActivity - packages for local serving/development
-c requirements.txt

django-silk # Request-based query explainer, profiling, speed checking
django-debug-toolbar  # In-page query explainer, profiling, template debug
django-extensions # shell plus and other helpful tools
pip-tools # used to produce requirements.txt