Django>=2.2,<3
dateparser==0.7.1
beautifulsoup4==4.8.0
django-admin-sortable2==0.7.3
django-ckeditor
django-crispy-forms==1.7.2
django-daterange-filter
django-extensions
django-leaflet
django-localflavor
django-mathfilters
django-multiupload
django-registration
django-report-utils
django-safedelete
django-simple-history
django-uuidfield
django-widget-tweaks
django-wysiwyg
django-webpack-loader
djangorestframework
django-import-export
django-mysql
factory-boy
google-api-python-client
google-auth
google-auth-httplib2
mysqlclient
pbr
pip-tools
python3-saml
simplejson
social-auth-app-django
WeasyPrint
webencodings
