Django>=2.2,<3
dateparser
beautifulsoup4
django-admin-sortable2
django-ckeditor
django-crispy-forms
django-daterange-filter
django-extensions
django-leaflet
django-localflavor
django-mathfilters
django-multiupload
django-registration
django-report-utils
django-safedelete
django-silk
django-simple-history
django-uuidfield
django-widget-tweaks
django-wysiwyg
django-webpack-loader
djangorestframework
django-import-export
django-mysql
factory-boy
google-api-python-client
google-auth
google-auth-httplib2
mysqlclient
openpyxl
pbr
pip-tools
python3-saml
pyyaml
simplejson
social-auth-app-django
WeasyPrint
webencodings
