{% load widget_tweaks %}
{% load i18n %}
{% load mytags %}
{% load tola_form_tags %}


{# Values pulled out by indicator_form_common_js.html code #}
<div id="numDataPoints" style="display: none;">{{ object.result_set.all.count }}</div>
<div id="indicatorId" style="display:none;">{{ object.pk }}</div>
<div id="programId" style="display:none;">{{ program.id }}</div>
<div id="initialLopTarget" style="display:none;">{{ object.lop_target|default_if_none:'' }}</div>
<div id="initialLevelId" style="display:none;">{{ initial_level_id|default_if_none:'' }}</div>  {# only set on create #}
<div id="nextIndicatorPk" style="display:none;">{{ next_indicator_pk|default_if_none:'' }}</div>

{# This template gets shoved into #indicator_modal_div in indicator_list_modals.html #}

<div class="modal-header" style="border-bottom:none;">
    <div id="indicator_modal_header" style="width:100%" class="modal-title">
        <h2 id="id_title" class="indicator_name">
            {{ title_str }}
        </h2>
        <h3 id="id_subtitle" class="no-bold indicator_name">
            {{ subtitle_str }}
        </h3>
        <span id="modalmessages" width="100%"></span>
    </div>
    <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        style="padding-top: 10px;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form
            action="{% url 'indicator_complete' indicator.id %}"
            id="indicator_update_form"
            data-type="completion"
            class="form-horizontal"
            method="post"
            autocomplete="off"
            novalidate>

        <div class="indicator-setup tab-set--vertical" id="indicator_modal_body">
            <input type="hidden" id="indicator_key" name="indicator_key" value="{{ indicator.indicator_key }}">

            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <input type="hidden" id="name" name="name" value="{{ form.name.value }}">
            <input type="hidden" id="level" name="level" value="{{ form.level.value }}">

            <ul class="nav nav-tabs" id="indicatorTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#requiredTab" role="tab" data-toggle="tab">{% trans "Required fields" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#optionalTab" role="tab"
                       data-toggle="tab">{% trans "Optional fields" %}</a>
                </li>

            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="requiredTab" name="Required tab">
                    <fieldset>
                        <div class="form-group" id="div_id_indicator_type">
                            <label for="id_indicator_type" class="label--required">{{ form.indicator_type.label }}</label>
                            {% popover_helptext form.indicator_type.help_text %}
                            {% render_field form.indicator_type class+="form-control" %}
                            <span id="validation_id_indicator_type" class="has-error"></span>
                        </div>
                        <div class="form-group" id="parent_div_id_unit_of_measure">
                            <label for="id_unit_of_measure"
                                   class="label--required">{{ form.unit_of_measure.label }}</label>
                            {% popover_helptext form.unit_of_measure.help_text %}
                            <div id="fieldgroup_id_unit_of_measure">

                                <div id="div_id_unit_of_measure">

                                    {% render_field form.unit_of_measure class+="form-control" %}
                                    <span id="validation_id_unit_of_measure" class="has-error"></span>
                                </div>
                                {% for ut in form.unit_of_measure_type %}
                                    {% with id=form.unit_of_measure_type.auto_id %}
                                        <div class="form-check form-check-inline"
                                             id="div_{{ id }}_{{ forloop.counter0 }}">
                                <span class="form-check-input ">
                                    {{ ut.tag }}
                                </span>
                                            <label class="form-check-label"
                                                   for="{{ ut.id_for_label }}">{{ ut.choice_label }} </label>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div><!--/#fieldgroup_id_unit_of_measure-->
                            <span id="validation_id_unit_of_measure" class="has-error"></span>
                        </div>

                        <div class="form-group" id="div_id_rationale_for_target">
                            <label for="id_rationale_for_target" class="">{{ form.rationale_for_target.label }} </label>
                            {% popover_helptext form.rationale_for_target.help_text %}
                            {% render_field form.rationale_for_target class+="form-control" %}
                            <span id="validation_id_rationale_for_target" class="has-error"></span>
                        </div>

                        <div class="form-group" id="div_id_baseline">
                            <label for="id_baseline" class="label--required">{{ form.baseline.label }} </label>
                            {% popover_helptext form.baseline.help_text %}
                            <div class="" id="fieldgroup_id_baseline">
                                <div id="div_id_baseline">
                                <span id="span_{{ form.baseline.id_for_label }}">
                                    <input type="text"
                                           {% if readonly %}disabled="disabled"{% endif %}
                                           name="{{ form.baseline.name }}"
                                           id="{{ form.baseline.id_for_label }}"
                                           class="form-control"
                                           min="0"
                                           maxlength="20"
                                        {% if form.baseline.value != None %}
                                           value="{{ form.baseline.value|stringformat:'s' }}"{% endif %}
                                           onblur="this.checkValidity();">
                                </span>
                                    {{ form.baseline_na }} <label for="id_baseline_na"
                                                                  class=""> {{ form.baseline_na.label }}</label>
                                </div>
                                <span id="validation_id_baseline" class="has-error"></span>
                            </div>
                        </div>

                        <div class="form-group" id="parent_div_id_direction_of_change">
                            <div class="" id="fieldgroup_id_direction_of_change">
                                <label for="id_direction_of_change">{{ form.direction_of_change.label }}</label>
                                {% popover_helptext form.direction_of_change.help_text %}
                                {% render_field form.direction_of_change class+="form-control" %}
                            </div>
                        </div>

                        <div class="form-group" id="div_id_target_frequency">
                            <label for="id_target_frequency"
                                   class="label--required">{{ form.target_frequency.label }}</label>
                            {% popover_helptext form.target_frequency.help_text %}
                            {% render_field form.target_frequency class+="form-control" %}
                            <span id="validation_id_target_frequency" class="has-error"></span>
                        </div>

                        <div id="id_div_periodic_tables_placeholder">
                            {% include "indicators/indicatortargets.html" %}
                        </div>

                    </fieldset>
                </div><!--/#requiredTab-->

                <div role="tabpanel" class="tab-pane" id="optionalTab">
                    <fieldset>
                        <div class="form-group" id="div_id_strategic_objectives">
                            <label for="id_strategic_objectives" class="">{{ form.strategic_objectives.label }} </label>
                            {% popover_helptext form.strategic_objectives.help_text %}
                            {% render_field form.strategic_objectives class+="form-control" %}
                            <span id="validation_id_strategic_objectives" class="has-error"></span>
                        </div>
                        <div class="form-group" id="div_id_data_collection_frequencies">
                            <label for="id_data_collection_frequencies"
                                   class="">{{ form.data_collection_frequencies.label }} </label>
                            {% popover_helptext form.data_collection_frequencies.help_text %}
                            {% render_field form.data_collection_frequencies class+="form-control" %}
                            <span id="validation_id_data_collection_frequencies" class="has-error"></span>
                        </div>
                        <div class="form-group" id="div_id_reporting_frequencies">
                            <label for="id_reporting_frequencies" class="">{{ form.reporting_frequencies.label }} </label>
                            {% popover_helptext form.reporting_frequencies.help_text %}
                            {% render_field form.reporting_frequencies class+="form-control" %}
                            <span id="validation_id_reporting_frequencies" class="has-error"></span>
                        </div>
                        <div class="form-group" id="div_id_quality_assurance_techniques">
                            <label for="id_quality_assurance_techniques" class="">{{ form.quality_assurance_techniques.label }} </label>
                            {% popover_helptext form.quality_assurance_techniques.help_text %}
                            {% render_field form.quality_assurance_techniques class+="form-control" %}
                            <span id="validation_id_quality_assurance_techniques" class="has-error"></span>
                        </div>
                        <div class="form-group grouped-disaggregations-list" id="div_id_grouped_disaggregations">
                            {{ form.grouped_disaggregations }}
                        </div>
                    </fieldset>
                </div><!--/#optionalTab-->

            </div>

        </div> <!-- /#indicator_modal_body -->
        {% if not readonly %}
        <div class="form-actions">

            <div>
                <button type="button" id="id_update_indicator_btn" class="btn btn-primary">{% trans 'Save and close' %}</button>
                {% if next_indicator_pk %}
                    <button type="button" id="id_save_and_complete_another_indicator_btn" class="btn btn-secondary">
                        {# Translators: button label to complete a partially filled-in form and be redirected to the next partially filled-in form #}
                        {% trans 'Save and complete next indicator' %}
                    </button>
                {% endif %}
                <button type="button" id="id_cancel_btn" class="btn btn-reset">{% trans 'Cancel' %}</button>
            </div>

            {% form_guidance form %}
            </div>
        {% endif %}
    </form>

</div>


<script>

    //Searchable select option for service indicator
    $(document).ready(function () {
        // Redirect to tab based on URL
        var targetsactive = `{{targetsactive|safe}}`;

        if (targetsactive == 'True') {
            $('#indicatorTabs a[href="#targetsTab"][data-toggle="tab"]').tab('show');
            $("#indicator_modal_body").data("targetsactive", "true");
            const target_periods_section_offset = $(window).scrollTop() - $("#id_div_periodic_tables_placeholder").position().top;
            $("#indicator_modal_div").animate({scrollTop: target_periods_section_offset}, 'slow');
        }
        $('#indicator_modal_div [data-toggle="popover"]').popover();
        // initial state of target frequency box if form is already populated
        disable_target_frequency_field();

        //make baseline field a numeric input
        window.getValidatedNumericInput('#id_baseline');


        // Disabled objectives pulldown if nothing to choose
        if ($("#id_objectives option").length < 1) {
            $("#id_objectives").attr("disabled", true)
        }

        // Initial state of cumulative box and % symbols
        let unit_of_measure_type = $("#id_unit_of_measure_type_1").is(":checked") ? 2 : 1;
        if (unit_of_measure_type == 2) {
            show_hide_cummulative_inputs('percent')
        } else {
            show_hide_cummulative_inputs('number')
        }

        togglePercentSymbol(unit_of_measure_type);

        // Compute LoP based on PTs
        validatePeriodicTargets();
        updateLopTargetDisplay();

        warnIfLopTargetDoesNotMatchComputed();

        // used for tracking if changes were made to the form
        // see indicator_form_common_js.html for def
        recordTrackedFieldsSnapshot(true);

        allowModalToClose = false;

        // disaggregation accordion
        $('.is-accordion-toggle').on('click', function(e) {
            let icon = $(this).find("svg");
            if (icon.hasClass('fa-caret-right')) {
                icon.attr('class', 'fa-caret-down');
            } else {
                icon.attr('class', 'fa-caret-right');
            }
        });
    });

    // Use BS multiselect widget where needed
    // kept out of document.ready() because of 'flashing' on modal open
    var multiselectOptions = {  // keep this a `var`
        includeSelectAllOption: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 320,
        buttonClass: 'btn btn-light form-control',
        templates: {
            filter: '<li class="multiselect-item filter"><div class="input-group"><input class="form-control multiselect-search" type="text"></div></li>',
            filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><i class="fas fa-times-circle"></i></button></span>',
        },
        nSelectedText: ' {% trans "selected" %}',
        nonSelectedText: '{% trans "None selected" %}'
    };
    var multiselects = ['#id_objectives', '#id_strategic_objectives'];
    multiselects.forEach(function(selectID) {
        let $select = $(selectID);
        if ($select) {
            let theseOptions = Object.assign({}, multiselectOptions);
            if ($select.hasClass('disabled-select')) {
                theseOptions.includeSelectAllOption = false;
            }
            $select.multiselect(theseOptions);
        }
    });

    var noSelectAllMultiselects = [
            '#id_indicator_type', '#id_reporting_frequencies', '#id_data_collection_frequencies'];

    noSelectAllMultiselects.forEach(function(selectID) {
        let $select = $(selectID);
        if ($select) {
            let theseOptions = Object.assign({}, multiselectOptions, {includeSelectAllOption: false});
            $select.multiselect(theseOptions);
        }
    });


    var noFilterMultiselectOptions = {
        includeSelectAllOption: false,
        enableFiltering: false,
        enableCaseInsensitiveFiltering: false
    };
    var noFilterMultiselects = ['#id_quality_assurance_techniques'];
    noFilterMultiselects.forEach(function(selectID) {
        let $select = $(selectID);
        if ($select) {
            let theseOptions = Object.assign({}, multiselectOptions, noFilterMultiselectOptions);
            $select.multiselect(theseOptions);
        }
    });

</script>
