.import-text {
    ol {
        padding-left: 20px;
        
        li {
            margin-bottom: 0.75rem;
        }
    }
}

.import-buttons {
    display: flex;
    flex-direction: column;

    button {
        margin: .25rem;
    }
}

.popover-header {
    background-color: transparent;
    border: none;
}