.importIndicators {
    &-body {
        display: none;
    }
    &-title {
        display: none;
    }
}

.import-text {
    ol {
        padding-left: 20px;
    }
}

.import-buttons {
    display: flex;
    flex-direction: column;

    button {
        margin: .25rem;
    }
}