#indicator_modal_body { // TODO: refactor this away
    .select2-selection {
        border-radius: 0px;
        border-color: $gray-500;
    }
    .select2-container--focus .select2-selection {
        border-color: $blue-400;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(51, 102, 204, .40);
    }
}
.indicator-setup {
    // overload tab functionality here for vertical tabs
    .nav-tabs {}
    .nav-item {
        white-space: nowrap;
    }
    .tab-content {}
}
.grouped-disaggregations {
    padding-left: $grid-gutter-width;
    // border: 1px solid $medium-dark; // TODO: pending feedback from Jenny
}
.grouped-disaggregations-list {
    > fieldset {
        margin-bottom: $grid-gutter-width/2;
    }
}
.periodic-targets {
    margin-bottom: $grid-gutter-width;
}
.periodic-targets__table {}
.periodic-target {
    background: $white;
}
.periodic-targets__sum {
}
.periodic-targets__sum__value {
    // fakes alignment on targets table for NON-percent (i.e. Number) values
    padding-right: 0.7rem;
    &.input-symbol-percent {
        // ...unfake it
        padding: 0;
    }
}
.item--event {
    .item__label {
        display: flex;
    }
}

// .periodic-target .input-value - needed as you can't @extend nested selectors
%pt-input {
    padding-right: 10px;
    text-align: right;
    display: table-cell;
    .input-text {
        padding-right: 2px;
        text-align: left;
        box-shadow: none;
        display: table-cell;
    }
    .controls input::placeholder {
        color: $gray-500;
    }
}

// Don't define border property here.  Assigning here prevents red border from
// being applied when there is no value
.periodic-target .input-value {
    @extend %pt-input;
}

// This exists as .periodic-target is used for selection in JS
// but the LoP only target should not be included in the JS selections
.lop-only-target .input-value {
    @extend %pt-input;
}
