// overloaded styles from pnotify core
.ui-pnotify-text {
    white-space: initial !important;
    // TODO: this ^^^ is an unnecessary style applied by the library. We should remove it there
    h4 {
        color: inherit;
    }
}

// our components
.pnotify__header {
    margin-bottom: 1rem;
}
.pnotify__preamble {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.pnotify__reason {
    color: $body-color;
}
.pnotify__message {
    color: $body-color;
    margin-bottom: 0.5rem;
}
.pnotify__rationale {
    margin-bottom: 0.5rem;
}

// Per #2320 form-field label text in pNotify form should be black and tight to form field
.pnotify__reason-for-change label {
    color: $black;
    margin-bottom: 0.2rem;
}

// Per #2320 form-field label text in pNotify form should be black and tight to form field
.pnotify__rationale label {
    color: $black;
    margin-bottom: 0.2rem;
}

// Per #2320 more space at bottom of dropdown list (drop up in pNotify is too clsoe to the bottom)
.pnotify__reason-for-change .dropdown-menu {
    li:first-child {
        margin-top: 6px;
    }
    li:last-child {
        margin-bottom: 6px;
    }
}