{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Error 400: bad request" %}{% endblock %}

{% block page_title %}{% trans "Error 400: bad request" %}{% endblock page_title %}

{% block content %}

<p>
    {% blocktrans %}
    There was a problem loading this page. This is likely to be a problem with the request sent by your web browser, but it is not your fault.  Please try reloading this page. If this problem persists, please <a href="https://learn.mercycorps.org/index.php/TOLA:Section_06/en">contact the TolaData team.</a>"
    {% endblocktrans %}
</p>

{% endblock content %}
