{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Additional Permissions Required" %} | {% endblock %}

{% block page_title %}
    <i class="fas fa-eye-slash text-secondary display-4"></i>
    {% trans "You need permission to view this page" %}
{% endblock page_title %}

{% block content %}

<p>{% trans "You can request permission from your country's TolaData Administrator. If you do not know your TolaData Administrator, consult your supervisor." %}</p>
<p>
    {% blocktrans %}If you need further assistance, please <a href="https://learn.mercycorps.org/index.php/TOLA:Section_06/en" target="_blank">contact the TolaData Team</a>.{% endblocktrans %}
</p>

{% endblock content %}
