{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Page not found" %} | {% endblock %}

{% block page_title %}
    <i class="fas fa-map-signs text-secondary display-4"></i>
    {% trans "Page not found" %}
{% endblock page_title %}

{% block content %}

{% blocktrans %}
<p>
    We can’t find the page you’re trying to visit. If this problem persists, please <a href="https://learn.mercycorps.org/index.php/TOLA:Section_06/en">contact the TolaData team.</a>
</p>
{% endblocktrans %}

{% endblock content %}
