{% load staticfiles %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load group_tag menu_tag %}
{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="TolaData - TolaActivity: Putting Adaptive Management into Practice">
        <meta name="author" content="TolaData">

        <title>{% block title %}{% endblock %}TolaActivity</title>

        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <!-- compiled webpack CSS -->
        {% render_bundle 'base' 'css' %}



        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}?q=gp1116">

        <script src="{% static "js/jquery.min.js" %}"></script>

        {% block extra_css_in_header %}{% endblock %}
        {% block extra_js_in_header %}
        {# TODO: this should be in at least two separate blocks #}
        {% endblock %}
        <script>
            // this initializes a variable to the site area defined in different templates, for google analytics tracking.
            // base value is in this (base.html) block, different site areas should define the variable as needed
            var siteArea = "{% block site_area %}main{% endblock %}";
        </script>


        <!-- bootstrap multiselect -->
        <script type="text/javascript" src="{% static "js/bootstrap-multiselect.js" %}?q=gp1116"></script>

        <!-- GLOBALS -->
        <script>
            var JS_GLOBALS = (typeof JS_GLOBALS === 'undefined') ? {} : JS_GLOBALS;
            {% if request.session.js_globals %}
                {% for var_name, value in request.session.js_globals.items %}
                    JS_GLOBALS["{{var_name}}"] = {{ value|safe}};
                {% endfor %}
            {% endif %}
        </script>

    </head>
    <body class="{% block bodyclasses %}{% endblock %}">

        {% get_current_language as LANGUAGE_CODE %}
        {% if request.session.show_covid_banner %}
            <div id="covid-banner-alert" class="alert alert--banner bg-warning alert-dismissible fade show" role="alert">
                <strong>
                😷 COVID-19:
                <a href="{% trans 'https://library.mercycorps.org/record/32352/files/COVID19RemoteMERL.pdf' %}" target="_blank">{% trans "Remote MERL guidance (PDF)" %}</a>
                | <a href="{% trans 'https://drive.google.com/open?id=1x24sddNU1uY851-JW-6f43K4TRS2B96J' %}" target="_blank">{% trans "Recorded webinar" %}</a>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <nav class="navbar navbar-dark navbar-expand-sm navbar-tola {% if user.is_superuser %}for-superadmin{% endif %}">
            <div class="container-fluid navbar-tola--container">
                <button
                    class="navbar-toggler m-1"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex flex-column" style="flex-grow:1;"> {# TODO: is this necessary? #}

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div class="navbar-brand-wrapper">
                            <div class="navbar-brand--mc">
                                <img class="navbar-brand--mc-logo" src="{% static "img/mc_logo_bounded.svg" %}" />
                            </div>
                            <a class="navbar-brand--tola" href="{% url 'index' %}">
                                <img class="navbar-brand--tola-logo" src="{% static "img/tola_activity_white.svg" %}" />
                            </a>
                        </div>



                        {% if user.is_authenticated %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                {% program_menu %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'iptt_quickstart' %}">{% trans "Reports" %}</a>
                            </li>
                            {% if user.tola_user.has_admin_management_access %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Admin" %}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                                    <a class="dropdown-item" href="{% url 'tola_management' react_app_page='user' %}">{% trans "Users" %}</a>
                                    <a class="dropdown-item" href="{% url 'tola_management' react_app_page='program' %}">{% trans "Programs" %}</a>
                                    <a class="dropdown-item" href="{% url 'tola_management' react_app_page='organization' %}">{% trans "Organizations" %}</a>
                                    <a class="dropdown-item" href="{% url 'tola_management' react_app_page='country' %}">{% trans "Countries" %}</a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                  <span class="nav-link" >
                                        {% if "demo" in request.build_absolute_uri %}
                                            <span class="badge badge-warning text-uppercase">Demo</span>
                                        {% elif  "qa" in request.build_absolute_uri %}
                                            <span class="badge badge-warning text-uppercase">QA</span>
                                        {% elif "dev" in request.build_absolute_uri %}
                                            <span class="badge badge-warning text-uppercase">Dev</span>
                                        {% elif  "127." in request.build_absolute_uri %}
                                            <span class="badge badge-warning text-uppercase">Local</span>
                                        {% elif "local" in request.build_absolute_uri %}
                                            <span class="badge badge-warning text-uppercase">Local</span>
                                        {% endif %}
                                  </span>
                            </li>
                            {% if user.is_authenticated  %}
                                {% if user.is_superuser %}
                                    {% if "qa" in request.build_absolute_uri or "local" in request.build_absolute_uri or "127." in request.build_absolute_uri %}
                                    <li class="nav-item">
                                        <span id="fail_mode_skull" class="nav-link px-2 py-0" style="display: {% if request.session.fail_mode %} block {% else %} none {% endif %};">
                                            <i class="fas fa-skull fa-2x text-warning"></i>
                                        </span>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspop="true" aria-expanded="false" id="failmodeDropdown">
                                            <span class="badge badge-danger text-uppercase">Super admin</span>

                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="failmodeDropdown">
                                            <script type="text/javascript">
                                                // this script is nested in the if block to avoid loading extra JS if
                                                // the client is not on QA/local and a superuser
                                                function toggleFailMode() {
                                                    console.log("fail mode toggle")
                                                    $.post("{% url 'fail_mode_toggle' %}")
                                                     .done(function(data) {
                                                        if (data.success === true) {
                                                            if (data.fail_mode === true) {
                                                                $('#fail_mode_toggle').text('De-activate API Fail Mode');
                                                                $('#fail_mode_skull').show();
                                                            } else {
                                                                $('#fail_mode_toggle').text('Activate API Fail Mode');
                                                                $('#fail_mode_skull').hide();
                                                            }
                                                        }
                                                     })
                                                }
                                            </script>
                                            <a class="dropdown-item" href="#" id="fail_mode_toggle" onclick="toggleFailMode()">
                                                {% if request.session.fail_mode %}
                                                    De-activate API Fail Mode
                                                {% else %}
                                                    Activate API Fail Mode
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <span class="nav-link">
                                                <span class="badge badge-danger text-uppercase">Super admin</span>
                                            </span>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspop="true" aria-expanded="false" id="navbarUserDropdown">
                                        {% firstof user.tola_user.name user.username %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                                        <script type="text/javascript">
                                            // Clears bulk import alert banner hide status in Session Storage on logout
                                            function clearStorage() {
                                                window.localStorage.removeItem('hide_bulk_import_alert');
                                            }
                                        </script>
                                        <a class="dropdown-item" href="{% url 'profile' %}">{% trans "Settings" %}</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}" onclick="clearStorage()">{% trans "Log out" %}</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>

            </div>
        </nav>
        <div id="nonfooter" class="{% block mainclasses %}region--main{% endblock %}">
            <div id="id_div_breadcrumb">{% block bread_crumb %}{% endblock %}</div>
            <header class="region-header">
                {% block region_header %}
                <h1 class="page-title {% block extra_page_title_classes %}{% endblock %}">{% block page_title %}{% endblock %}</h1>
                    {% block header_extras %}{% endblock %}
                {% endblock %}
            </header>
            <div id="alerts">
                <!-- Any messages for users -->
                {% block messages %}
                    {% if messages %}
                            {% for message in messages %}
                                    {% if 'safe' in message.tags %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% elif 'pnotify' in message.tags and 'pnotify-success' in message.tags %}
                                        <script type="text/javascript">
                                            $(function() {
                                                PNotify.defaults.styling = 'bootstrap4'; // Bootstrap version 4
                                                PNotify.defaults.icons = 'fontawesome5'; // Font Awesome 5
                                                PNotify.success({
                                                     title: gettext('Success'),
                                                     text: `{{ message|safe }}`,
                                                     type: 'success',
                                                     hide: true,
                                                     textTrusted: true,
                                                     width: '350px',
                                                     minHeight: '150px',
                                                     stack: {
                                                         'overlayClose': true,
                                                         'dir1': 'right',
                                                         'dir2': 'up',
                                                         'firstpos1': 0,
                                                         'firstpos2': 0
                                                     },
                                                     modules: {
                                                         Buttons: {
                                                             closer: true,
                                                             closerHover: false,
                                                             sticker: false
                                                         }
                                                     }
                                                });
                                            });
                                        </script>
                                    {% else %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% endif %}
                            {% endfor %}
                    <br>
                    {% endif %}
                {% endblock messages %}
            </div>

            <!-- Main body content -->
            <div id="notification_blocking_div"></div>
            <div id="id_div_content">
                {% block content %}{% endblock %}
            </div>
        </div><!-- .container collapse -->

        <div id = "ajaxloading" class="modal ajax_loading"></div>
        <div id="footer">
            <!-- Sticky Footer -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="navbar-expand-sm">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="/" class="nav-link help-link"><b>Tola</b>Data</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="navbar-expand-md">
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item">
                                    <a href="https://learn.mercycorps.org/index.php/TOLA:Section_01/en"
                                    class="nav-link help-link"
                                    target="_blank">{% trans "Documentation" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://thehub.mercycorps.org/node/7768"
                                    class="nav-link help-link"
                                    target="_blank">{% trans "FAQ" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://learn.mercycorps.org/index.php/TOLA:Section_06/en"
                                    class="nav-link help-link"
                                    target="_blank">{% trans "Feedback" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .footer collapse -->

        <script src="{% static "js/jquery-ui.min.js" %}"></script>

        <script src="{% static "js/popper.min.js" %}"></script>

        <script src="{% static "js/bootstrap.min.js" %}"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>

        <!-- Add JQuery UI language files -->
        <script type="text/javascript" src="{% static 'js/datepicker-fr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>

        <script type="text/javascript" src="{% static "js/PNotify.js" %}"></script>
        <script type="text/javascript" src="{% static "js/PNotifyButtons.js" %}"></script>
        <script type="text/javascript" src="{% static "js/PNotifyConfirm.js" %}"></script>
        <script type="text/javascript" src="{% static "js/PNotifyCallbacks.js" %}"></script>

        <script type="text/javascript">
            // This is now referenced in other JS, not just here in the date picker!
            var userLang = "{{ LANGUAGE_CODE }}";

            $(document).ready(function() {
                $.datepicker.setDefaults( $.datepicker.regional[ userLang ] );
            });
        </script>
        <!-- End JQuery UI language files -->

        <script>
            // checking if it's defined (in some cases this errors out javascript and prevents our
            // modal detection script from reloading the page)
            if (!js_context || typeof(js_context) == 'undefined') {
                var js_context;
            }
            js_context = {
                strings: {
                    serverError: '{% trans "Server Error" %}',
                    networkError: '{% trans "Network Error" %}',
                    networkErrorTryAgain: '{% trans "Please check your network connection and try again" %}',
                    unknownNetworkError: '{% trans "Unknown network request error" %}',
                    permissionError: '{% trans "Sorry, you do not have permission to perform this action." %}',
                    permissionErrorDescription: '{% trans "You can request permission from your TolaData administrator." %}',
                },
                loginUrl: '{% url "login" %}',
            }
        </script>


        {% if GOOGLE_ANALYTICS_PROPERTY_ID and "tola-activity.mercycorps.org" in request.build_absolute_uri %}
            {% include "google_analytics.html" %}
        {% endif %}

        <!-- Django i18n tools and translations -->
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

        {# Webpack runtime and vendor bundles, shared across all pages using webpack #}
        {% render_bundle 'runtime' %}
        {% render_bundle 'vendors' %}

        <!-- Global init and functions - what used to be app.js -->
        {% render_bundle 'base' 'js' %}


        {% block extra_js_in_body %}
        {% endblock %}
        {% block debug %}
        {% endblock %}
    </body>
</html>
