{% load i18n has_program_role %}
<div class="program__calendar-complete">
    <div class="fas fa-calendar"></div>
    <p>
        {% blocktrans %}
            <span
                id="id_link_reporting_period_{{ program.id }}"
                class="program-period__button--{{ program.id }}"
                data-progstart="{{ program.start_date }}"
                data-progend="{{ program.end_date }}"
                data-rptstart="{{ program.reporting_period_start }}"
                data-rptend="{{ program.reporting_period_end }}"
            ></span>
            is <br><strong class="text-dark">{{ program.percent_complete }}% complete</strong>
        {% endblocktrans %}
    </p>
</div>
